#container{
    display: flex;    
 }
 #container div{
    height: 100px;
    width: 200px;
    background-color: rgb(12, 1, 1);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    flex-wrap: wrap;
    color: white;
    border: 10px solid rgb(209, 43, 43);
    border-radius: 50%;
    
 }
 button{
     height: 30px;
     border: rgb(192, 29, 29) solid 2px;
     border-radius: 30px;
     font-size: large;
     font-weight: bold;
     color:rgb(20, 4, 4);
     background-color: blueviolet
 }
 #clock{
    font-size: xx-large;
    background-color: rgb(15, 22, 1);
    height: 60px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 10px gold;
    border-radius: 15%;
    color: white;
 }